body{
background-image: url("../images/background.png")
}
.movies{
    margin: 0.6%;
    color: rgb(255, 255, 255);
    padding: 0.6%;
    width: 45%;
    font-family: 'Permanent Marker', cursive;
    border-radius: 18px;
    border-color: aliceblue;
}
button{ 
    background-color: rgba(221, 55, 55, 0.816);
}
.form-group{
    margin: 0.2%;
    color: rgb(255, 255, 255);
    padding: 0.6%;
    width: 45%;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.btn-submit{
    width: auto;
    margin-left: 1%;
    background-color: rgb(221, 55, 55);
    color: white;
    border-radius: 20%;
}
hr{
    background-color: white;
    width: 40%;
    margin-left: 1.5%;
}
img{
    width: 83%;
    max-height: 400px;
}
button:hover{
    background-color: rgb(11, 11, 22);
}
#gifs-view{
    float: right;
    position: sticky;
    bottom: 300px;
    margin: 4%;
}
p{
    font-size: 18px;
    display: flex;
    float: left;
    margin: 1%;
    background: white;
    color: black;
    padding: 0.3%;
    border-radius: 34%;
    width: auto;
    height: 36px;
}
p,img{
    float: left;
    margin: 2%;
}